@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/BUTTERCREAM BAKERY.png" alt="ASP.NET" class="img-responsive" />
            @*<div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>*@
        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h2>Welcome</h2>
        
            <p>This is a simple web application to pay your customers</p>
            <p>It is built using ASP.NET Core MVC, it is  simple and easy to use</>
        
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <p> Click this link to <a href="/Home/MakePayment">pay your customers</a> </p>
       
    </div>
   
</div>
